.todo-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cecece;
  font-size: 1.15em;
  color: #333333;
  width: 50%;
}

.label-input {
  display: flex;
  align-items: center;
}

.checkbox {
  background-color: #eee;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
}

.completed {
  text-decoration: line-through;
  color: #cdcdcd;
}

.btn-container {
  position: absolute;
  margin-left: 290px;
}

.btn-edit {
  margin: 9px;
}
